[paths]
source =
   src/roman_numerals
   */site-packages/roman_numerals

[run]
branch = true
source =
    roman_numerals
omit = 
    setup.py
parallel = true

[report]
show_missing = true
precision = 2
