include .bumpversion.cfg
include .coveragerc
include .isort.cfg
include .pylintrc
include .pyup.yml
include LICENSE
include mypy.ini
include tox.ini
recursive-include requirements *.txt
recursive-include stubs *.pyi
recursive-include tests *.py
global-exclude *.py[cod] __pycache__ *.so *.dylib Makefile
